* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Arial'sans-serif;
  font-size: 24px;
  line-height: 1.5;
  background-color: yellow  ;
}

.header__pokemon-img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.js-cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  list-style-type: none;
}

.pokemon-item {
  width: 100%;
  max-width: 250px;
  height: 300px;
  margin: 15px;
  border-radius: 5px;
  border: 2px solid rgb(38, 193, 255);
  box-shadow: 0px 10px 25px rgb(109, 109, 109);
  transition: all 0.3s ease;
  padding: 10px;
  /* padding-left: 50px; */
}

.pokemon-item:hover {
  box-shadow: none;

}

.item-img {
  display: block;
  width: 170px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
}

.item-title {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.item-type {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
